*.iml
.gradle
/local.properties

.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
vcs.xml
/app/release/*

/fastlane/metadata/*
/fastlane/report.xml

*.pepk
/google-apps-key.json
/google-apps-key.json.b64
/secret.properties

/signing/lemond.keystore
/signing/lemond.keystore.b64
