*.iml
.gradle
/local.properties

.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
vcs.xml
/app/release/*

/fastlane/metadata/*
/fastlane/report.xml

*.keystore
*.pepk
/firebase-key.json
/secret.properties